body {
    background-color: #fbfbfb;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid #bebebe;
}

header {
    display: flex;
    font-size: 16px;
    margin: 30px;
}

nav {
    margin: 0 0 1px auto;
}

header nav a {
    margin: 0 0 0 30px;
}

button {
    margin: 30px auto;
    border: 1px solid #202020;
    background-color: #f6f6f6;
    width: 200px;
    height: 50px;
}

button:hover{
    background-color: #ececec;
}

.top {
    text-align: center;
    height: 400px;
    margin-bottom: 150px;
}

.top img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    text-align: center;  
    filter: brightness(0.4);
    position: relative;
}

.top h1 {
    position: absolute;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    top: 28%;
    color: #fbfbfb;
    z-index: 100;
}

.about-brush {
    margin: 150px 200px;
}

.about-brush h2 {
    font-size: 32px;
}

.about-reader {
    margin: 150px 200px;
}

.about-reader h2 {
    font-size: 32px;
}

.locate-island {
    margin: 150px 300px;
}

.locate-island h2 {
    font-size: 32px;
    padding-bottom: 20px;
    border-bottom: 1px solid #bebebe;
}

.locate-map {
    text-align: center;
}

.news-article {
    display: flex;
    margin: 30px 200px;
    padding-bottom: 20px;
    border-bottom: 1px solid #bebebe;
}

.news-article p {
    margin: auto 0;
    font-size: 12px;
    color: #7c7c7c;
}

.news-article a {
    margin-left: 30px;
    font-size: 18px;
}

.news-article a:hover {
    border: none;
    color: #7c7c7c;
}

.sponsors-support {
    margin: 200px;
}

.sponsors-support h2 {
    font-size: 32px;
}

.contact-message {
    text-align: center;
    margin-bottom: 150px;
}

.contact-form {
    width: 600px;
    margin: 0 auto;
    /* border: 1px solid #000; */
}

.contact-form div {
    margin-bottom: 50px;
}



.contact-form span {
    color: #fbfbfb;
    background-color: #696969;
    margin: 0 10px;
    padding: 0 10px;
    border-radius: 16px;
}

.contact-form .box {
    width: 600px;
    height: 40px;
    border: 1px solid #000;
    background-color: #fbfbfb;
    margin: 16px 0;
}

.contact-form textarea {
    width: 600px;
    border: 1px solid #000;
    background-color: #fbfbfb;
    margin: 16px 0;
}

input[type="checkbox"] {
    position: relative;
    width: 16px;
    height: 16px;
    margin: auto 10px;
    border: 1px solid #000;
    vertical-align: -5px;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
  
input[type="checkbox"]:checked:before {
    position: absolute;
    top: 1px;
    left: 4px;
    transform: rotate(50deg);
    width: 4px;
    height: 8px;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    content: '';
}

input[type="submit"] {
    margin: 30px auto;
    border: 1px solid #202020;
    background-color: #f6f6f6;
    width: 80px;
    height: 40px;
}

input[type="submit"]:hover {
    background-color: #ececec;
}

.contact {
    width: 80vw;
    background-color: #eeeeee;
    margin: 200px auto;
    padding: 70px 0;
    text-align: center;
}

.contact h2 {
    font-size: 30px;
}

.bottom {
    background-color: #e0e0e0;
}

footer {
    font-size: 16px;
    display: flex;
    padding: 100px 0 0 0;
}

footer a {
    margin: 0 100px;
}

footer nav {
    margin: 0;
}

footer nav a {
    margin: 0 20px;
}

.end {
    font-size: 12px;
    color: #7c7c7c;
    text-align: center;
    margin: 0 auto;
    padding: 50px 0;
}